@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/wallpaper.png);
  background-size: cover;
  color: #777;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;

}

.typewriter  {
  font-size: 100px ;
}

.search-section {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  width: 90vw
}

.surprise {
  background-color: #ececf1;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px
}

.surprise:hover {
  cursor:pointer;
}

.input-container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow:hidden;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px;
}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200;
}
.input-container button {
  width: 30%;
  border: none;
  border-left: 1px #cacaca solid;
  background-color: white;
  color:#777;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.input-container input ::placeholder {
  color: #cacaca;
  font-weight: 200;
}



.input-container button:active {
  background-color: #cacaca;
}

p {
  font-weight: 200;
  font-size: 14px;
}

.image-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.image-section img {
  margin: 1px;
  min-width: 250px;
  max-width: 33%;
  flex-grow: 1;
}

.extra-info {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

label {
  background-color: white;
  border-radius: 5px;
}

label:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px #ffffff;
}

.modal {
  position: relative;
  z-index: 100;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
}

.modal button {
  width: 100%;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.modal button:active {
  background-color: #fafafc;
}

.img-container {
  max-height: 512px;
  max-width: 512px;
  overflow: hidden;
}


@media (max-width: 556px) {

  .image-section img {
    max-width: 100%;
  }
}
